{% extends 'base/base.html' %}

{% block content %}
  
  {{ arts.title }}<br>
  {{ arts.published }}<br>
  <hr>

  <form method="post" action="{% url 'posts:upload' arts.pk %}">{% csrf_token %}
    <img src="{{ arts.image.url }}" class="img-thumbnail" width="30%" height="50%"/>
    <input type="submit" name="upload1" value="UPLOAD">
    <hr>

    <img src="{{ arts.image_two.url }}" class="img-thumbnail" width="30%" height="50%"/>
    <input type="submit" name="upload2" value="UPLOAD">
    <hr>

    <img src="{{ arts.image_three.url }}" class="img-thumbnail" width="30%" height="50%"/>
    <input type="submit" name="upload3" value="UPLOAD">
    <hr>

    <img src="{{ arts.image_four.url }}" class="img-thumbnail" width="30%" height="50%"/>
    <input type="submit" name="upload4" value="UPLOAD">
  </form>

  <form method="post" action="{% url 'posts:delete' arts.id %}">{% csrf_token %}
    <button class="button" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
  </form>

{% endblock %}