<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>詳細</title>
</head>

<body>
  
  <div class="container">
    {{ arts.title }}<br>
    {{ arts.published }}<br>
    <img src="{{ arts.image.url }}" class="img-thumbnail" width="30%" height="50%"/>
    <br>
    <img src="{{ arts.image_two.url }}" class="img-thumbnail" width="30%" height="50%"/>
    <br>
    <img src="{{ arts.image_three.url }}" class="img-thumbnail" width="30%" height="50%"/>
    <br>
    <img src="{{ arts.image_four.url }}" class="img-thumbnail" width="30%" height="50%"/>
  </div>

</body>

</html>