.container{
  max-width: 980px;
  margin: 5% auto;
}

h1{
  text-align: center;
  font-size: medium;
}

.navbar{
  width: 100%;
}

.nav-link{
  margin: 0 30%;
}

.form-control{
  margin: 1% auto;
}

.btn{
  margin: 1% auto;
  width: 120px;
  height: 50px;
}

.message_div{
  margin-top: 3%;
}

#hint_id_username{
  display: none;
}