{% extends 'base/auth_base.html' %}

{% block content %}
   <h1>ログイン画面</h1>

   <div class="loginform">
   <form method="post" action="{% url 'auths:Login' %}">
      {% csrf_token %}

      <div class="mb-3">
         <label for="userid" class="form-label">ユーザーID</label>
         <input type="text" name="userid" class="form-control" aria-describedby="emailHelp">
         <label for="password" class="form-label">パスワード</label>
         <input type="password" name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" value="Login">ログイン</button>
   </form>
   </div>
   <div class="message_div">
      <p class="message">アカウントをお持ちですか？:
      <a href="{% url 'auths:register' %}">アカウントを作成</a></p>
   </div>

{% endblock %}